node_modules/
.next/
out/
build/
dist/
coverage/
/backend/uploads/

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

.DS_Store
Thumbs.db
*.tsbuildinfo
.vercel
